<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="fileLogTrace" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${basedir}/App_Data/logs/trace.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target name="IpLogTrace" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${basedir}/App_Data/logs/iptrace.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target name="ErrorLogTrace" xsi:type="AsyncWrapper">
      <target xsi:type="File" fileName="${basedir}/App_Data/logs/Errortrace.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="fileLogTrace" />
    <logger name="*" level="Error" writeTo="ErrorLogTrace" />
    <logger name="*" level="Debug" writeTo="IpLogTrace" />
  </rules>
</nlog>